.form {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 80px 280px;
}

.hideForm {
  display: none;
}

.form form {
  background-color: #F2F2F2;
  border-radius: 20px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
  flex: 1;
  padding: 36px 64px;
  width: 200px;
}

.form form h2 {
  font-weight: 400;
  font-size: 32px;
}

@media (max-width: 1500px) {
  .form {
    margin: 80px 0px;
  }
}